body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.contact-form {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2b7cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a5edb;
}

#errorMessages {
    color: red;
    margin-bottom: 10px;
}